
@namespace DataTablesGrid.Components.DataTablesGrid
@typeparam TGridItem

<script
        src="./_content/DataTablesGrid/datatables.js"></script>
<link rel="stylesheet"
        href="./_content/DataTablesGrid/datatables.css"/>
<link rel="stylesheet"
        href="./_content/DataTablesGrid/components.css"/>


<CascadingValue IsFixed="true" Value="this">@Columns</CascadingValue>

<CascadingValue TValue="IQueryable<TGridItem>" IsFixed="true" Value="@Items">

    <table @ref=_gridReference >
        <caption></caption>
        <thead>
            <tr>
                @foreach (var column in ColumnsToRender)
                {
                    <th>@column.Title</th>
                }
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>


</CascadingValue>

